.card-content {
	height: 100px;
}

.card-header-title{
	font-size: 24px;
}

.card {
	background: #e0e0e0;
}

.card-header {
	height: 50px;
}

.card-header.low {
	background: green;
}

.card-header.normal {
	background: yellow;
}

.card-header.high {
	background: red;
}

.task-card.Completed {
	background: grey;
}